SITConnect/Connected Services/DBServiceReference1/DBService1.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBService1.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBService1.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attempts_Left" type="xs:int" />
      <xs:element minOccurs="0" name="Card_CVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Card_Expiry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Card_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Card_Num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password_Age" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password_Last1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password_Last2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password_Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suspended_Since" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>