SITConnect/Connected Services/DBServiceReference1/SITConnect.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SITConnect.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SITConnect.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreditCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cvv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expiry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCard" nillable="true" type="tns:CreditCard" />
</xs:schema>